 <div class="user-card">
      <div class="user-photo">
        <img src="<%= user.photo %>" alt='user photo' />
      </div>
      <div class="user-details">
        <h1><%= user.name %></h1>
        <p>Number of posts: <%= user.posts_counter %></p>
      </div>
    </div>