<%= render 'shared/user', user: @user %>
<% if @posts.empty? %>
  <p>No posts</p>
<% else %>
  <% @posts.each do |post| %>
    <%= render 'shared/post', post: post %>
    <% if post.recent_comments.empty? %>
      <p>No comments</p>
    <% else %>
      <% post.recent_comments.each do |comment| %>
        <%= render 'shared/comment', comment: comment %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
